/*所有控件需要有明确的对象名称，需要设置共同样式，指明控件的层次次序*/
/**所有的注释不要使用双斜杠!!!**/
/*全局通过用样式*/
* {
outline:none;
}

/**依旧是万能大法所有可视化类的 Q_PROPERTY 包含的属性都可以这样设置**/
/**对整个系统的选项卡设置无切换按钮**/
QTabBar
{
/*对整个系统的选项卡设置无切换按钮*/
/*等同于ui->tabWidget->tabBar()->setUsesScrollButtons(false);*/
qproperty-usesScrollButtons: false;
}

/*去白边*/
QTabWidget::pane 
{
border-right: 0;
}

/**登录状态按钮**/
#m_loginStatusBtn
{
border-radius: 7px;
background-color: #c0ff02;
}

MainWidget
{
/*整个主界面大背景，所有背景透明都继承此背景颜色*/
background-color: #2a2a31;
/*2px边界线颜色在这里设置*/
}

/*********QWebEngineView，所有的样式在html页面中设置********/


/*主界面标题栏---内衬*/
#stackedWidget_title
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #2f4359, stop:1  #03223a);
color: rgb(85, 255, 0);
}

/*播放器界面标题栏---内衬*/
#stackedWidget_videoTitle
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0, stop:0 #055690, stop:1  #081f4a);
}

/*类选择器在代码里有效，样式表中无效，防止子控件继承样式*/
MultipPlayer
{
/*包含2px的margin*/
background-color: #2a2a31;
}

/*---左侧节目侧边栏列表---*/
#listWidget_playlist
{
font-family:"微软雅黑";
border:none;
icon-size:50px;
font-size:14px;
text-align:center;
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #28405d, stop:1  #223a55);
}

/*侧边栏列表item*/
#listWidget_playlist::item
{
color: #cccccc;
width:170px;
height:50px;
min-height:50px;/*有效设置item高度*/
padding-left: 8px;
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #28405d, stop:1  #223a55);
}

#listWidget_playlist::item:hover
{
show-decoration-selected:5;
border-style:outset;
color:#FF7F24;
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #630f34, stop:1  #c2152f);
}

#listWidget_playlist::item:selected
{
color: #005e9e;
font-weight: bold;
}

/*上次选择后保留的状态，鼠标离开后显示*/
#listWidget_playlist::item:selected:!active
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #0f2028, stop:1  #2d5364);
color: #008bb5;
}

/*侧边栏底部--展开按钮*/
#m_expandBtn
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #28405d, stop:1  #223a55);
text-align: center;
icon-size:35px;
font-family:"微软雅黑";
font-size:14px;
color:#cccccc;
border:none;
}

#m_expandBtn:hover
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #630f34, stop:1  #c2152f);
color:#FF7F24;
}

#m_expandBtn:selected
{
color: #005e9e;
}

/**主界面折叠按钮**/
#m_leftButton
{
/*宽度需要在20px以上*/
border-top-right-radius:10px;
border-bottom-right-radius:10px;
}

/***播放器主界面折叠按钮***/
#m_foldBtn
{
/*此处只做圆角修改，其他部分样式代码设置*/
background-color: transparent;
}

/*推荐栏左右调节按钮*/
#m_recLeftBtn
{
border-radius:20px;
background: rbga(240, 240, 240,0.6) url(://images/icon/page_leftBtn.png) no-repeat no-repeat center center;
}
#m_recLeftBtn:hover
{
border-radius:20px;
background: rbga(240, 240, 240,0.6) url(://images/icon/page_leftBtn_hover.png) no-repeat no-repeat center center;
}

#m_recRightBtn
{
border-radius:20px;
background: rbga(240, 240, 240,0.6) url(://images/icon/page_rightBtn.png) no-repeat no-repeat center center;
}
#m_recRightBtn:hover
{
border-radius:20px;
background: rbga(240, 240, 240,0.6) url(://images/icon/page_rightBtn_hover.png) no-repeat no-repeat center center;
}

/*收藏记录---修改*/
WebMessageBox
{
background-color: #ffffff;
}

/*中心控件承载区域（历史和收藏的大背景）*/
#m_webStackWgt
{
background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #2f4359, stop:1  #03223a);
border:none;
}

/*浏览器---收藏栏和浏览器承载的widget界面*/
#m_webWidget
{
background-color: #2b2b2b;
border: 0px solid #f0f0f0;
border-top-width: 0px;
}

/*********************浏览器---标题栏右键菜单************************/
/**一级菜单**/

#pmenu_funclist
{
border-radius:4px;
background-color: #ffffff;
width: 135px;
}

#pmenu_func_tool
{
border-radius:4px;
background-color: #ffffff;
width: 100px;
/*二级子菜单宽度是根据文字宽度决定，设置宽度item不会全部铺满*/
}

#pmenu_funclist::item
{
border-radius: 4px;
height: 26px;
padding-left:10px;
}

#pmenu_func_tool::item
{
border-radius: 4px;
height: 26px;
padding-left:10px;
}

#pmenu_funclist::item:selected
{
background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #6768ee, stop:1  #7184fb);
}

#pmenu_func_tool::item:selected
{
background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #6768ee, stop:1  #7184fb);
}

/**图标**/
#pmenu_funclist::icon
{
position: absolute;
top: 1px;
right: 1px;
bottom: 1px;
left: 1px;
}

/**图标**/
#pmenu_func_tool::icon
{
position: absolute;
top: 1px;
right: 1px;
bottom: 1px;
left: 1px;
}

/**分割线**/
#pmenu_funclist::separator
{
height: 1px;
background: #cccccc;
margin-left: 5px;
margin-right: 5px;
}

/**分割线**/
#pmenu_func_tool::separator
{
height: 1px;
background: #cccccc;
margin-left: 5px;
margin-right: 5px;

}
/*********************浏览器---标题栏右键菜单************************/

/*浏览器---状态栏*/
#m_statusBar
{
color: #cccccc;
}

/*浏览器---进度条*/
#m_progressBar
{
color: #cccccc;
}

/*浏览器---整个收藏栏(包括展开按钮、隐藏按钮)样式*/
#m_tabframe
{
background-color: #454c59;
border: 0px solid transparent;
}

/*浏览器---收藏栏tabbar样式*/
#m_tabBar
{
background-color: #454c59;
color: #4c4c4c;
border: 0px solid transparent;
}

/*浏览器---收藏栏tab样式*/
#m_tabBar::tab
{
min-width: 100px;
max-width: 100px;
/*magin-top和height实现tab居中，留下tabbar的大背景*/
height:18px;
margin-top:3px;
margin-left:1px;
margin-right:1px;
border-radius: 2px;
background-color: #48484c;
}

#m_tabBar::tab:first
{
margin-left: 2px;
}

#m_tabBar::tab:last
{
margin-right: 2px;
}

#m_tabBar::tab:selected
{
background-color: #ffffff;
}

#m_tabBar::tab:hover
{
background-color: #ffffff;
border-radius: 2px;
}

#m_tabBar::tab:!selected
{
background-color: #ffffff;
}

#m_tabBar::tab::tab:only-one
{
border-right-width:0px;
}

#m_tabBar QToolButton
{
background-color:transparent;
}

#m_tabBar QToolButton::right-arrow
{
background-color:transparent;
}

#m_tabBar QToolButton::left-arrow
{
background-color:transparent;
}

/*添加标签addweb按钮*/
#m_addTabBtn
{
border: 1px solid transparent;
background-color: #337ab7;
color:white;
font-size:26px;
}

#m_addTabBtn:hover
{
background-color: #286090;
color:white;
}

/*展开标签栏按钮*/
#m_webExpandBtn,#m_webExpandBtn::pressed
{
background-color: #233b56;
color:  #cccccc;
border:1px solid #6768ee;
border-top-left-radius:8px;
border-bottom-right-radius:8px;
margin:3px 0px;
text-align:center;
}

#m_webExpandBtn:hover
{
background-color: #454c59;
color: white;
}

/*标签隐藏按钮*/
#m_webHideBtn,#m_webHideBtn::pressed
{
background-color: #233b56;
color:  #cccccc;
border:1px solid #6768ee;
border-top-left-radius:8px;
border-bottom-right-radius:8px;
margin:3px 3px 3px 0px;
}

#m_webHideBtn:hover
{
background-color: #454c59;
color: white;
}

/*浏览器---收藏列表*/
#m_listWdgt_colloect
{
color:#979aa4;
background-color: #f8f8f8;
border-radius:0px;
}

#m_listWdgt_colloect::item
{
background-color:#f0f0f0;
padding: 2px;
}

#m_listWdgt_colloect::icon:hover
{
border-image:url(://images/function/collect_list_item.png);
}

#m_listWdgt_colloect::item:selected
{
background-color: #d6eff7;
}

#m_listWdgt_colloect::item:hover
{
background-color: #ffffff;
color:#2b2b2b;
}

/*浏览器---搜索记录*/
#m_listWdgt_history
{
border: none;
color: #d3d3ba;
background-color: #363639;
}

#m_listWdgt_history::item
{
padding: 2px;
background-color: #363639;
}

#m_listWdgt_history::icon:hover
{
border-image:url(://images/function/history_list_item.png);
}

#m_listWdgt_history::item:selected
{
color:#3385ff;
}

#m_listWdgt_history::item:hover
{
background-color: #4a4a4d;
color: #d3ccae;
}

/*浏览器---搜索引擎*/
#m_listWdgt_engine
{
border:none;
color:#979aa4;
background-color: #f8f8f8;
}

#m_listWdgt_engine::item
{
padding: 2px;
background-color:#f0f0f0;
background-color: rgb(33, 33, 33);
}

#m_listWdgt_engine::item:selected
{
color:#3385ff;
}

#m_listWdgt_engine::item:hover
{
background-color:#e5e5e5;
color:#2b2b2b;
}

#m_engineSetBtn
{
text-align:left;
border:0px solid #bbbbbb;
border-top-width:1px;
color:#979aa4;
background-color: rgb(33, 33, 33);
padding-left:30px;
}

#m_engineSetBtn:hover
{
border:0px solid #bbbbbb;
background-color:#e5e5e5;
color:#2b2b2b;
}

/**浏览器承载QTabWidget整体设置---start**/
#m_webTabWidget
{
background-color:#4969c7;
border:none;
}

#m_webTabWidget::pane
{
background-color:#009999;
background-color:green;
}

#m_webTabWidget::tab-bar
{
left:0px;
background-color:#009999;
height:24px;
border: none;
}

/*浏览器页面承载QTabWidget自定义Tab样式*/
#m_webTabBar::tab
{
background-color: #4666b9;
max-width: 180px;
height:24px;
color: black;
border: 0px solid #c1c1c1;
border-left-width:1px;
}

#m_webTabBar::tab:first
{
margin-left: 0px;
border-left-width:0px;
}

#m_webTabBar::tab:last
{
margin-right: 0px;
}

#m_webTabBar::tab:hover
{
background-color: #b8c91e;
color:white;
}

#m_webTabBar::tab:selected
{
background-color:  #3399cc;
}

#m_webTabBar::tab:!selected
{
background-color: #118860;
}

/**关闭按钮**/
#m_webTabBar::close-button
{
image: url(://images/icon/tab_closebtn.png);
}

/**关闭按钮---hover**/
#m_webTabBar::close-button:hover
{
image: url(://images/icon/tab_closebtn_hover.png);
}

/*浏览器承载界面工具栏*/
#m_webTabBar QToolButton
{
background-color:transparent;
}

#m_webTabBar QToolButton::right-arrow
{
background-color:transparent;
}

#m_webTabBar QToolButton::left-arrow
{
background-color:transparent;
}
/**浏览器承载QTabWidget整体设置---end**/

/*添加网页按钮*/
#m_addWebButton
{
margin-left:15px;
background-color:white;
}

#m_addWebButton:hover
{
background-color:green;
}
/*浏览器----stackwidget-----end*/

/*新建任务---清除历史路径*/
#newwork_m_clearBtn
{
background: transparent;
color:#cdcdcd;
}

#newwork_m_clearBtn:hover
{
color:#ff4b38;
}

/*新建任务--历史记录列表*/
#newwork_m_listWdgt_path
{
background: white;
border:none;
}

/*新建任务---记录列表父窗口*/
#newwork_m_hisWdgt
{
background: white;
}

/*序号*/
#dl_num
{
/*border-image:url(://images/function/download_video.png);*/
}

/*进度条*/
#dl_progressbar
{
}

/*暂停按钮*/
#dl_stopbtn
{
border-image:url(://images/function/download_pause.png);
}

/*下载按钮*/
#dl_downloadlbtn
{
border-image:url(://images/function/download_download.png);
}

/*删除按钮*/
#dl_deletebtn
{
border-image:url(://images/function/download_delete.png);
}

/*打开按钮*/
#dl_openbtn
{
border-image:url(://images/function/download_openfile.png);
}


/*文件对话框*/
/*
QFileDialog 
{
background-color:#f0f0f0;
}
*/
/*
QFileDialog QScrollBar::handle:vertical,QScrollBar::handle:horizontal
{
border-radius:0px;
background-color:#cdcdcd;
}
*/
/*
QFileDialog QScrollBar::handle:vertical:hover,QScrollBar::handle:horizontal:hover
{
border-radius:0px;
background-color:#cdcdcd;
}
*/
/*
QFileDialog QScrollBar::sub-page:vertical,QScrollBar::sub-page:horizontal
{
background-color:#f0f0f0;
}
*/
/*
QFileDialog QScrollBar::add-page:vertical,QScrollBar::add-page:horizontal
{
background-color:#f0f0f0;
}
*/

/*主界面底部按钮*/
#m_bottomBtn
{
border-radius:25px;
background: rbga(240, 240, 240,0.6) url(://images/icon/main_bottom_hover.png) no-repeat no-repeat center center;
}

#m_bottomBtn:hover
{
border-radius:25px;
background: rbga(240, 240, 240,0.6) url(://images/icon/main_bottombtn.png) no-repeat no-repeat center center;
}

/*去白边*/
#m_tabWdgt::pane 
{
border-right: 0;
background-color: #3b3b45;
}

#m_tabWdgt::tab-bar 
{
left: 35px;
}

#m_homeListWidget
{
background-color:#2a2a31;
border:none;
}

#m_homeListWidget::item
{
background-color:#2a2a31;
border:none;
}

QListWidget QTabWidget QStackWidget QTextBrowser
{
outline:0;
border:none;/*去边线*/
}

/*托盘二级菜单-----------------样式开始*/
#m_menuTray,#m_playMode
{
background-color:white;
color:#2a2a31;
font:normal normal 15px '微软雅黑';
}

/*一级菜单tiem*/
#m_menuTray::item
{
height:30px;
padding: 2px 15px 2px 15px;/*上 右 下 左*/
border: 1px solid transparent;
}

/*二级菜单tiem*/
#m_playMode::item
{
height:30px;
padding: 2px 5px 2px 15px;/*上 右 下 左*/
border: 1px solid transparent;
}

/*鼠标滑过*/
#m_menuTray::item:selected,#m_playMode::item:selected
{
border-radius: 5px;
background: #90c8f6;
}

/*一级菜单--图标*/
#m_menuTray::icon
{
width:30px;
height:30px;
margin-left:10px;
}

/*二级菜单--图标*/
#m_playMode::icon
{
width:0px;
height:0px;
}

/*指示器---菜单勾选项*/
#m_menuTray::indicator,#m_playMode::indicator
{
margin:5px;
width:20px;
height:20px;
}

/*菜单项指示器---互斥--选中*/
#m_playMode::indicator:exclusive:checked
{
image: url(://images/tray/tray_checked.png);
}
/*托盘二级菜单-----------------------样式结束*/

/*帮助按钮菜单-----------------------样式开始*/
#pmenu_help1,#pmenu_help2
{
background-color:white;
color:#2a2a31;
font:normal normal 15px '微软雅黑';
}

#pmenu_help1::item
{
height:18px;
padding: 4px 28px 4px 20px;/*上 右 下 左*/
border: 1px solid transparent;
}

#pmenu_help2::item
{
height:18px;
padding: 4px 8px 4px 12px;/*上 右 下 左*/
border: 1px solid transparent;
margin:0px;
}

#pmenu_help1::item:selected,#pmenu_help2::item:selected
{
border-radius: 5px;
background: #00aabf;
}

#pmenu_help1::icon,#pmenu_help2::icon
{
width:10px;
height:20px;
margin-left:10px;
}

/*帮助按钮菜单-----------------------样式结束*/

/*歌曲列表右键菜------------------------------开始*/
#pmenu_songer,#pmenu_son_addto,#pmenu_son_sort,#pmenu_son_playmode,#pmenu_son_muctool
{
background: white;
color:#2a2a31;
font: normal normal 15px '微软雅黑';
}

#pmenu_songer::item,#pmenu_son_addto::item,#pmenu_son_sort::item,#pmenu_son_playmode::item,#pmenu_son_muctool::item
{
height:18px;
padding: 4px 28px 4px 20px;/*上 右 下 左*/
border: 1px solid transparent;
}

#pmenu_songer::item:selected,#pmenu_son_addto::item:selected,#pmenu_son_sort::item:selected,#pmenu_son_playmode::item:selected,#pmenu_son_muctool::item:selected
{
background: #00aabf;
}

#pmenu_songer::icon,#pmenu_son_addto::icon,#pmenu_son_sort::icon,#pmenu_son_playmode::icon,#pmenu_son_muctool::icon
{
width:20px;
height:18px;
margin-left:10px;
}
/*歌曲列表右键菜单-----------------------------结束*/

/*播放列表，收藏列表，历史列表右键菜单---开始*/
#playlist_playMenu,#playlist_collectMenu,#playlist_historytMenu
{
background-color:white;
width:100px;
border-radius:20px;
}

#playlist_playMenu::item,#playlist_collectMenu::item,#playlist_historytMenu::item
{
background-color:white;
}

#playlist_playMenu::item:selected,#playlist_collectMenu::item:selected,#playlist_historytMenu::item:selected
{
color:#2ca5fc;
background-color:#cccccc;
}

/*播放列表，收藏列表，历史列表右键菜单---结束*/

QDockWidget#m_dockWidget::title
{
text-align: center; 
background-color:rgb(101,210,105);
padding-left: 5px;
}

/*
QToolTip
{
border: 1px solid black;
background-color: #D1DBCB;
padding: 1px;
border-radius: 3px;
opacity: 50;
}
*/

#lcdNumber
{
border:none;
/*font:bold italic 18px "微软雅黑";*/
}

/********节目列表tabwidget----开始**********/
#m_tabWidget1
{
background-color: transparent;
outline:none;
color:black;
}

#m_tabWidget1 QTabBar::tab
{
width:130px;
height:35px;
color: white;
background-color:#3f3f48;
}

#m_tabWidget1 QTabBar::tab:first
{
/*border-right:1px solid #ff5c38;*/
}

#m_tabWidget1 QTabBar::tab:!selected
{
margin-top: 0px;
}

#m_tabWidget1 QTabBar::tab:selected
{
color:#ff5c38;
font-size:14px;
font-weight:bold;
border-bottom:2px solid #ff5c38;
}

/*通过icon-size来撑大item的高度*/
QToolBox
{
border-right:2px;
background-color:#3d3d3d;
 icon-size: 25px; 
}

/*抽屉控件,有效*/
QToolBox::tab
{
border-bottom:2px groove blue; 
border-radius:2px;
background-color:#3d3d3d;
color: yellow;
text-align: center; 
}

/*tab样式-hover*/
QToolBox::tab:hover
{
background-color:rgb(101,210,105);
color: white;
}

/*tab样式-selected*/
QToolBox::tab:selected
{
background-color: #36a5c1;
color: white;
font-weight: bold;
}

/*右侧整个播放列表父亲m_widget1*/
#m_widget1
{
background-color: #072957；
border:1px solid transapent;
border-left-color: #3f4042;
}

/*toolbox承载区域控件*/


/*搜索框(事件监视器控制)*/
QToolBox QWidget QLineEdit
{
color:#cccccc;
font-family:"微软雅黑";
font-size:14px;
background-color: #162a33;
selection-background-color: #eaeaea;
padding-left:15px;
border:none;
}

/*搜索按钮(事件监视器控制)*/
QToolBox QWidget QPushButton
{
border: none;
background-color: #162a33;
image: url(:/images/icon/file_open.png);
padding:5px;
}

/*搜索按钮-按下*/
QToolBox QWidget QPushButton:pressed
{
border-style: inset;
background-color: #162a33;
}

/*搜索按钮-鼠标滑过*/
QToolBox QWidget QPushButton:hover
{
padding:5px;
image: url(:/images/icon/file_open_hover.png);
background-color: #162a33;
}

/**************************播放器右侧列表设置---开始****************************/
/*QListWidget播放列表*/
QToolBox QWidget  QListWidget
{
font-family:"Mircrosoft YaHei";
border:none;
background-color: #333333;
}

QToolBox QWidget  QListWidget::item
{
color:#cccccc;
min-height:30px;
font-size:15px;
background-color: #333333;
}

QToolBox QWidget  QListWidget::item:hover
{
show-decoration-selected:5;
background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #5104e4, stop:1  #8e2ce1);
border-style:outset;
color:white;
font-size:18px;	
}

QToolBox QWidget  QListWidget::item:selected
{
padding:0px;
margin:0px;
color:#ff5c38;
font-size:18px;
background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #c11432, stop:1  #730f33);
}

/*上次选择后保留的状态，鼠标离开后显示,会影响selected*/
QToolBox QWidget  QListWidget::item:selected:!active
{
border-width:0px;
padding:0px;
margin:0px;
color: rgb(85, 255, 0);
background-color: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #c11432, stop:1  #730f33);
}

/**************************播放器右侧列表设置---完毕****************************/

/*四个列表的滚动条---单独的统一放在通用样式之前设置*/
#list1_vertical_scrollBar::handle:vertical,#list2_vertical_scrollBar::handle:vertical,#list3_vertical_scrollBar::handle:vertical,#list4_vertical_scrollBar::handle:vertical
{
background-color:#65d269;
border-radius:4px;
}

/*鼠标放到滑块上面样式*/
#list1_vertical_scrollBar::handle:vertical:hover,#list2_vertical_scrollBar::handle:vertical:hover,#list3_vertical_scrollBar::handle:vertical:hover,#list4_vertical_scrollBar::handle:vertical:hover
{
background-color:#c0ff02;
border-radius:4px;
}

/*滚动条滚过部分样式*/
#list1_vertical_scrollBar::sub-page:vertical,#list2_vertical_scrollBar::sub-page:vertical,#list3_vertical_scrollBar::sub-page:vertical,#list4_vertical_scrollBar::sub-page:vertical
{
background-color:#038387;
}

/*滚动条未滚过部分样式*/
#list1_vertical_scrollBar::add-page:vertical,#list2_vertical_scrollBar::add-page:vertical,#list3_vertical_scrollBar::add-page:vertical,#list4_vertical_scrollBar::add-page:vertical
{
background-color:#038387;
}

/*滚动条整体样式，需要单独设置的，在下面按照层次顺序指明，或者按照对象名设置 --start*/
/*垂直滚动条整体样式*/
QScrollBar:vertical
{
background-color:#3f3f48;/*背景颜色*/
width:8px;/*整体宽度*/
}

/*水平滚动条整体样式*/
QScrollBar:horizontal
{
background-color:#3f3f48;/*背景颜色*/
height:8px;/*整体高度*/
}

/*垂直滚动条内滑块样式*/
QScrollBar::handle:vertical
{
min-height:20px;/*滑块宽度*/
border-radius:4px;/*滑块角度弯曲*/
background-color:#038387;
}

/*水平滚动条内滑块样式*/
QScrollBar::handle:horizontal
{
min-width:20px;/*滑块高度*/
border-radius:4px;/*滑块角度弯曲*/
background-color:#038387;
}

/*垂直滚动条内滑块样式--hover*/
QScrollBar::handle:vertical:hover
{
background-color:#6b9fa7;
border-radius:4px;
}

/*水平滚动条内滑块样式--hover*/
QScrollBar::handle:horizontal:hover
{
background-color:#6b9fa7;
border-radius:4px;
}

/*垂直滚动条滑过上部分的样式*/
QScrollBar::sub-page:vertical
{
background-color:#25252a;
}

/*水平滚动条滑过左部分的样式*/
QScrollBar::sub-page:horizontal
{
background-color:#25252a;
}

/*垂直滚动条滑过下部分的样式*/
QScrollBar::add-page:vertical
{
background-color:#25252a;
}

/*水平滚动条滑过右部分的样式*/
QScrollBar::add-page:horizontal
{
background-color:#25252a;
}

/*
/*垂直滚动条滑过上部分的底部箭头部分样式*/
QScrollBar::sub-line:vertical
{
width:10px;
height:10px;
background-image: url(:/images/icon/arrowdown.png);
subcontrol-position: top;
subcontrol-origin: margin;
}

/*垂直滚动条滑过下部分的底部箭头部分样式*/
QScrollBar::add-line:vertical
{
width:10px;
height:10px;
background-image: url(:/images/icon/arrowup.png);
subcontrol-position: bottom;
subcontrol-origin: margin;
}

/*水平滚动条滑过左部分的左边箭头部分样式*/
QScrollBar::sub-line:horizontal
{
width:10px;
height:10px;
background-image: url(:/images/icon/arrowdown.png);
subcontrol-position: left;
subcontrol-origin: margin;
}

/*水平滚动条滑过右部分的右边箭头部分样式*/
QScrollBar::add-line:horizontal
{
width:10px;
height:10px;
background-image: url(:/images/icon/arrowup.png);
subcontrol-position: right;
subcontrol-origin: margin;
}
*/
/*滚动条整体样式，需要单独设置的，在下面按照层次顺序指明，或者按照对象名设置 --end*/



