<?xml version='1.0' encoding='UTF-8'?>
<appconfig>
<database>
<hostName>82.156.175.81</hostName>
<hostPort>3306</hostPort>
<userName>zhang</userName>
<userPawd>zhang_databases123</userPawd>
<dataName>client_test</dataName>
</database>
<browser>
<defaultUser>visitor</defaultUser>
<defaultUserID>0000000000</defaultUserID>
<defaultUrl>https://www.bilibili.com/</defaultUrl>
<defaultTitle>bilibili</defaultTitle>
<downloadPath>download</downloadPath>
</browser>
<skin>
<defaultSkin>blackTheme</defaultSkin>
<splashOn>false</splashOn>
<defaultSplash>/pictures/splashscreen/splash1.gif</defaultSplash>
</skin>
</appconfig>
