<?xml version='1.0' encoding='UTF-8'?>
<appconfig>
<database>
<hostName>43.143.226.251</hostName>
<hostPort>3306</hostPort>
<userName>zhanghui</userName>
<userPawd>db_zhang_@databases</userPawd>
<dataName>client_test</dataName>
</database>
<browser>
<defaultUser>visitor</defaultUser>
<defaultUserID>0000000000</defaultUserID>
<defaultUrl>https://www.bilibili.com/</defaultUrl>
<defaultTitle>bilibili</defaultTitle>
<downloadPath>download</downloadPath>
</browser>
<skin>
<defaultSkin>blackTheme</defaultSkin>
<splashOn>false</splashOn>
<defaultSplash>/pictures/splashscreen/splash.png</defaultSplash>
<splashwidth>900</splashwidth>
<splashheight>500</splashheight>
</skin>
</appconfig>
